# Frontend
VITE_API_BASE_URL=http://localhost:8000
VITE_COGNITO_AUTHORITY=https://cognito-idp.ap-south-1.amazonaws.com/ap-south-1_xxxxx
VITE_COGNITO_CLIENT_ID=your_cognito_client_id
VITE_COGNITO_REDIRECT_URI=http://localhost:5173
VITE_COGNITO_SCOPE=openid email profile
VITE_COGNITO_LOGOUT_URI=http://localhost:5173/logout
VITE_AWS_API_GATEWAY_URL=https://your-api-gateway-url.execute-api.ap-south-1.amazonaws.com/prod
