# Images
image.png
image copy.png
image copy 2.png
image copy 3.png
WhatsApp Image 2026-02-06 at 3.26.14 PM.jpeg

# OS files
Thumbs.db
.DS_Store

# Excluded Guides and Tests
OTP_TESTING_GUIDE.md
AWS_SETUP_GUIDE.md
TESTING_GUIDE.md
test_aws_ses.py

